.c-text--normal + .c-text--normal {
  margin-top: 20px;
}

.c-main__text--normal {
  padding-top: 120px;
  padding-bottom: 30px;
}

.c-card__text--normal + .c-card__text--normal {
  margin-top: 35px;
}