@use "../../Foundation/mixin" as *;


.p-gallery {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    color: #333;
    padding: 120px 40px 160px 40px;
    @include breakpoint(pc) {
        max-width: 1360px;
  
    }
    &__topTitle {
        margin-bottom: 30px;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__oneBox {
        width: 23%;
        margin-bottom: 40px;
    }
    
    &__img {
        display: block;
        max-width: 100%;
        margin-bottom: 10px;
        transition: all 0.5s;
        &:hover {
            opacity: 0.8;
        }
    }
    &__title, &__price {
        font-size: 12px;
        
    }
    &__button {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    &__page {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    &__number {
        padding: 0 20px;
    }
}
