.p-hedder__logo {
  font-size: 2em;
  font-weight: bold;
}

.p-hedder__nav-menu {
  position: absolute;
  left: -50%;
  top: 50%;
  transition: .7s;
}

.p-hedder__nav-menu.is-active {
  left: 5%;
  transition: .7s;
  color: #ffffff;
  z-index: 20;
}