.l-hedder {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  min-height: 80px;
  width: 100%;
  background-color: #ffffff;
  left: 0;
  right: 0;
  padding: 0 40px;
}